/*
------------------------------------------------ BODY*/
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: Montserrat;
    /*background-color: $greyBack;*/
}

html {
    scroll-behavior: smooth;
}

/*
------------------------------------------------ HEADER*/

.headerAdmin_base{
    position : fixed;
    width: 100%;
    height: 100px;
    background-color: #15A595;
    z-index: 99;
    top:0;
}


.header_admin{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #15A595;
    position: relative;
}

.header_admin_logo{
    width: 12%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

.header_admin_logo img{
    width: 100%;
}
/*
------------------------------------------------ MAIN*/


/*-------------------------- CREATE BTN*/
#map_main{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: Oswald;
}

.map_btn_add{
    font-family: Oswald;
    width: 20%;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #15A595;
    border-radius: 40px;
    padding: 10px 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.map_btn_add a{
    text-decoration: none;
    color:white;
}

.map_title{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-family: Oswald;
}

.bg_item{
    width: 250px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

/*-------------------------- Container*/
.container{
    display: grid;
    grid-template-columns: 7fr 4fr;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding:  0 30px;
}

.map{
    height: 100vh;
    position: sticky;
    top:0;
    left:0;
    right: 0;
}

.map p{

}

/*
------------------------------------------------ FOOTER*/
.footer_admin{
    width: 100%;
    height: 50px;
    background-color: #15A595;
    /*position: relative;*/
    margin-top: 30px;
    position: fixed;
    bottom: 0;
}

.footer_admin_text{
    color: white;
    font-family: Oswald;
    font-size: 20px;
    letter-spacing: 1px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
}